

@font-face {
    font-family: 'saiyan';
    src: url('../font/saiyan_sans') format('.TTF'),
        url('../font/saiyan_sans') format('.TTF');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}